@model TurboCollection.Web.ViewModels.ChatViewModel

<div class="Parent">
    <div class="leftcolumn">
        @Model.User.FirstName @Model.User.LastName
        <hr />
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item navitem">
                <a class="nav-link text-dark" asp-area="" asp-controller="MyPage" asp-action="MyCollection">My Collection</a>
            </li>
            <li class="nav-item navitem">
                <a class="nav-link text-dark" asp-area="" asp-controller="MyPage" asp-action="MyExtra">My Extra</a>
            </li>
            <li class="nav-item navitem">
                <a class="nav-link text-dark" asp-area="" asp-controller="MyPage" asp-action="Search">Search</a>
            </li>
        </ul>
    </div>
    <div class="rightcolumn">
        <h3>Chat with @Model.ChatWithUser.FirstName @Model.ChatWithUser.LastName</h3>
        @foreach (var item in Model.ChatPosts)
        {
            <div style="width: 700px; display: flex;">
                @if (item.FromUserId == Model.User.UserId)
                {
                    <div style="margin-left: auto;">
                        @item.Text
                    </div>
                }
                else
                {
                    <div>
                        @item.Text
                    </div>
                }
                
            </div>
        }

        <form method="post" class="form-inline" asp-controller="Chat" asp-action="ChatWith">
            @*@Html.HiddenFor(m => m.User.UserId)*@
            <input name="toUserId" type="hidden" value="@Model.ChatWithUser.UserId" />
            <textarea id="w3review" name="text" rows="4" cols="93"></textarea>
            <input type="submit" value="Send">
        </form>
    </div>
</div>

<style>
    .navitem:hover {
        background-color: bisque;
    }

    .body {
        padding: 0;
        margin: 0;
    }

    .Parent {
        display: flex;
        flex-direction: row;
    }

    .leftcolumn {
        width: 15%;
        height: 100vh;
        background-color: floralwhite;
        /*text-align: center;
                        color: white;*/
    }

    .rightcolumn {
        width: 85%;
        /*padding: 30px;*/
        height: 100vh;
        background-color: white;
        /*border: green solid 5px;
                        margin: 50px;*/
    }
</style>
