@model TurboCollection.Web.ViewModels.TurboItemsViewModel

@{
    ViewData["Title"] = "TestData";
}
<section>
    <div>
        <form method="get">
            <label data-title="brand">
                <select asp-for="@Model.CollectionFilerApplied" asp-items="@Model.Collections"></select>
                <input asp-for="Search" type="text" placeholder="Search" >
            </label>
            <input type="submit" value="Apply Filters" />
        </form>
    </div>
</section>

@{
    int p1 = @Model.CollectionFilerApplied == null ? 0 : @Model.CollectionFilerApplied.Value;
    string p2 = @Model.Search == null ? "" : @Model.Search;
}

<div id="anyTable" class="d-flex flex-wrap">
    @foreach (var item in Model.Items)
    {
        <div class="turboitem">
            <img style="border-radius: 10px; border: 1px solid #ddd" width="250px" src="@Html.DisplayFor(modelItem => item.Picture)" />
        </div>
    }
</div>


@section Scripts {
    <script src="~/js/InfinitiySroll5.js"></script>
    <script>
        var infinityScroll = new InfinitiySroll("anyTable", "/collection/_TestData", { sortOrder: @p1, searchString: "@p2" });
    </script>
}